body
{
	margin:0px;
	padding:0px;
}

#ActiveColumn
{
	position: relative;
	width:850px;
	height:100%;
	background-color: rgba(68,108,179,1);
	margin:0 auto;
	padding:0px;
}

#backgroundScreen
{
	background-image:url(murse.png);
	margin:0 auto;
	position: relative;
	top: 30px;
	height:900px;
	width: 100%;
	background-repeat:no-repeat;
	background-position:cover;
	background-size:100% 100%;
}

#inventorySpace
{
	position:relative;
	height:335px;
	width:450px;
	background-color:black;
	top:560px;
	left:265px;
}

#yaoMing
{
	position: absolute;
	background-color: rgba(68,108,179,1);
	left:20px;
	top:20px;
	width: 200px;
	height: auto;
	padding-bottom: 5px;
}
#yaoPicture
{
	position:relative;
	background-image:url(yao.jpg);
	width: 120px;
	height: 220px;
	background-repeat:no-repeat;
	background-position:cover;
	background-size:100% 100%;
	margin: 0 auto;
	top: 5px;
}
#yaoButtons
{
	width:156px;
	height:50px;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
	
}
#yaoButtons button
{
	margin-top:3px;
}

#bluePotion
{
	position: absolute;
	background-color: rgba(68,108,179,1);
	left:20px;
	top:420px;
	width: 200px;
	height: auto;
	padding-bottom: 5px;
}
#bluePotionPic
{
	position:relative;
	background-image:url(bluePotion.jpg);
	width: 180px;
	height: 220px;
	background-repeat:no-repeat;
	background-position:cover;
	background-size:100% 100%;
	margin: 0 auto;
	top: 5px;
}
#bluePotionButtons
{
	width:156px;
	height:50px;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
	
}
#bluePotionButtons button
{
	margin-top:3px;
}

#spork
{
	position: absolute;
	background-color: rgba(68,108,179,1);
	left:230px;
	top:20px;
	width: 200px;
	height: auto;
	padding-bottom: 5px;
}
#sporkPicture
{
	position:relative;
	background-image:url(spork.png);
	width: 80px;
	height: 220px;
	background-repeat:no-repeat;
	background-position:cover;
	background-size:100% 100%;
	margin: 0 auto;
	top: 5px;
}
#sporkButtons
{
	width:156px;
	height:50px;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
	
}
#sporkButtons button
{
	margin-top:3px;
}

#kale
{
	position: absolute;
	background-color: rgba(68,108,179,1);
	left:230px;
	top:420px;
	width: 200px;
	height: auto;
	padding-bottom: 5px;
}
#kalePicture
{
	position:relative;
	background-image:url(kale.jpg);
	width: 180px;
	height: 220px;
	background-repeat:no-repeat;
	background-position:cover;
	background-size:100% 100%;
	margin: 0 auto;
	top: 5px;
}
#kaleButtons
{
	width:156px;
	height:50px;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
	
}
#kaleButtons button
{
	margin-top:3px;
}


#zeroth
{
	position:absolute;
	height: 166px;
	width: 220px;
	top:0px;
	left:0px;
	border: 2px dashed gray;
}
#first
{
	position:absolute;
	height: 166px;
	width: 220px;
	top:0px;
	left:225px;
	border: 2px dashed gray;
}
#second
{
	position:absolute;
	height: 166px;
	width: 220px;
	top:166px;
	left:0px;
	border: 2px dashed gray;
}
#third
{
	position:absolute;
	height: 166px;
	width: 220px;
	top:166px;
	left:225px;
	border: 2px dashed gray;
}

.holder
{
	position:relative;
	height:165px;
	width:120px;
	left: 49px;
	background-repeat:no-repeat;
	background-position:cover;
	background-size:100% 100%;
}

.numberInArray
{
	position: absolute;
	height:50px;
	width: 50px;
	top: 110px;
	left: 165px;
	color: salmon;
	text-align:center;
	font-size:42px;
	
}
